<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>MacViKey</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>Icon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSMultipleInstancesProhibited</key>
	<false/>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>Used for keyboard</string>
	<key>MVKAuthorName</key>
	<string>Đỗ Hoàng Đạt</string>
	<key>MVKAuthorEmail</key>
	<string>macvikey@dohoangdat.com</string>
	<key>MVKCopyrightShort</key>
	<string>Đỗ Hoàng Đạt © 2026 - All rights reserved.</string>
	<key>MVKLicenseName</key>
	<string>GNU GPL v3</string>
	<key>MVKLicenseURL</key>
	<string>https://www.gnu.org/licenses/gpl-3.0.html</string>
	<key>MVKHomePageURL</key>
	<string>https://dohoangdat.com/macvikey</string>
	<key>MVKSourceCodeURL</key>
	<string>https://github.com/dohoangdat/MacViKey</string>
	<key>MVKIssuesURL</key>
	<string>https://github.com/dohoangdat/MacViKey/issues</string>
	<key>MVKReleasesURL</key>
	<string>https://github.com/dohoangdat/MacViKey/releases</string>
	<key>MVKVersionCheckURL</key>
	<string>https://raw.githubusercontent.com/dohoangdat/MacViKey/main/version.json</string>
	<key>MVKChangelogURL</key>
	<string>https://github.com/dohoangdat/MacViKey/blob/main/CHANGELOG.md</string>
	<key>MVKDonateURL</key>
	<string>https://dohoangdat.com/macvikey</string>
	<key>MVKDonateText</key>
	<string>MacViKey MIỄN PHÍ và sẽ luôn MIỄN PHÍ. Nhưng để sửa lỗi và duy trì thì vẫn tốn thời gian và chi phí! Bạn Donate cũng được ghi nhận là có đóng góp giúp cho sự phát triển của Macvikey, SAO KÊ được công khai tại hòm công đức bên dưới!</string>
	<key>MVKAboutText</key>
	<string>MacViKey là bộ gõ tiếng Việt dành riêng cho MacOS. Hầu hết bộ gõ khác có hàng chục tuỳ chọn mà đa số không bao giờ dùng tới, càng nhiều tùy chọn - app càng dễ bị lỗi, mất phím, nuốt phím... MacViKey đi hướng ngược lại: loại bỏ các tính năng thừa, tập trung vào hiệu năng, và làm cho nó thật ổn định.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 Do Hoang Dat. All rights reserved.</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>MVKFeedbackURL</key>
	<string>https://github.com/dohoangdat/MacViKey/issues</string>
</dict>
</plist>
